.error {
  color: red;
  display: block;
}

.action-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action-panel > * {
  margin: 0;
  margin-right: 15px;
  text-align: center;
}

.action-panel .greeting {
  text-align: right;
  flex-grow: 1;
}

.post-detail {
  display: flex;
}

.post-detail .subject {
  flex-grow: 1;
}
