.error {
  color: red;
  display: block;
}

.action-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action-panel > * {
  margin: 0;
  margin-right: 15px;
  text-align: center;
}

.action-panel .greeting {
  text-align: right;
  flex-grow: 1;
}

.post-detail .panel-heading {
  display: flex;
  align-items: center;
}

.post-detail .panel-heading > *:not(:first-child) {
  margin-left: 5px;
}

.post-detail .subject {
  flex-grow: 1;
}

.like {
  background-color: white;
  border: lightblue solid 1px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.like:focus {
  border-radius: 50%;
  outline: 0 !important;
}

.like.active {
  background-color: #33bb7c;
  color: white;
}

.like_counter {
  font-size: 1.5em;
  display: inline-block;
  padding-left: 5px;
}

.author {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 0.8em;
}
