<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CS 253 Blog!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <header class="text-center jumbotron row">
        <h1><a href="/blog">CS 253 Blog!</a></h1>
      </header>

      <hr>

      <section class="action-panel row">
        <h2>Welcome, {{username}}!</h2>
        <a href="/blog/newpost">New Post</a>
        <a href="/blog/logout">Logout</a>
      </section>

      <hr>

      <main class="row">
        {% block content %}
        {% endblock %}
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
