<div class="panel panel-default post-detail">
  <div class="panel-heading">
    <div class="subject">
      <a href="/blog/{{post.key().id()}}">{{post.subject}}</a>
    </div>
    <div class="post-date">
      {{post.author.name}} - {{post.created.strftime("%b %d, %Y")}}
    </div>
    <hr>
    <button type="button" class="btn like" data-url="/blog/{{post.key().id()}}/like">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    </button>
  </div>
  <div class="panel-body" >
    <div class="content">{{post.content.replace('\n', '<br>') | safe}}</div>
  </div>
</div>
