{% extends "blog_base.html" %}

{% block content %}

  <div class="detail">
    {% if page.is_owner(post) %}
      <div class="text-right">
        <a class="btn btn-primary" href="/blog/edit/{{page.post_id}}" role="button">Edit</a>
        <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#delete-post">Delete</a>
      </div>
      <br>
    {% endif %}
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        {% include 'blog_detail_component.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        {% include 'post_comments.html' %}
      </div>
    </div>
  </div>
  {% include 'delete_modal.html' %}

{% endblock %}
