{% extends "blog_base.html" %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-heading">{{ page.get_page_stack()[-1].label }}</div>
    <div class="panel-body">
      <div class="form-vertical">
        <form method="post">
          <div class="form-group">
            <label>
              <span>Subject</span><br>
              <input type="text" name="subject" value="{{subject}}" class="form-control">
            </label>
          </div>

          <div class="form-group">
            <label>
              <span>Content</span><br>
              <textarea name="content" rows="8" cols="80" class="form-control">{{content}}</textarea>
            </label>
          </div>

          <p class="error">{{error}}</p>

          <a class="btn btn-primary" href="/blog" role="button">Cancel</a>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
