<h4>{{post.comments_number()}} Comments</h4>

<hr>
{% for comment in comments %}
<div class="form-vertical">
  <form action="/blog/comment/{{comment.key().id()}}" method="put">
    <div class="form-group">
      <label>
        <div class="comment-header">
          <div class="comment-title">
            <div class="comment-author">{{comment.author.name}}</div>
            <div class="date">{{comment.created.strftime("%b %d, %Y")}}</div>
          </div>
          <div class="edit-comment">
            <span class="comment-btn edit glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span class="comment-btn confirm glyphicon glyphicon-ok hide" aria-hidden="true"></span>
            <span class="comment-btn cancel glyphicon glyphicon-remove hide" aria-hidden="true"></span>
          </div>
        </div>
        <textarea name="content" rows="8" cols="80" class="form-control" readonly>{{comment.content}}</textarea>
      </label>
    </div>
  </form>
</div>
{% if loop.last %}
<hr>
{% endif %}
{% endfor %}

<div class="form-vertical" id="add-comment">
  <form action="/blog/{{post.key().id()}}/comment" method="post">
    <div class="form-group">
      <label>
        <span>Comment</span>
        <textarea name="content" rows="8" cols="80" class="form-control"></textarea>
      </label>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
